;; Refs:

;; Midje:
;; https://raw.githubusercontent.com/marick/Midje/master/test-resources/clj-kondo.exports/marick/midje/config.edn

{:lint-as
 {midje.checking.checkers.defining/defchecker clojure.core/defn}

 :linters
 {:refer-all {:exclude [clojure.test midje.sweet]}
  :unused-referred-var {:exclude {slingshot.slingshot [throw+ try+]}}
  :unresolved-symbol {:exclude [(midje.sweet/fact
                                  ;; See Midje reference at top of file.
                                  [=> =contains=> =deny=> =expands-to=>
                                   =future=> =not=> =streams=> =test=>
                                   =throw-parse-exception=> =throws=> anything
                                   as-checker contains exactly falsey has
                                   has-prefix has-sufix irrelevant just
                                   roughly throws truthy
                                   every-checker some-checker
                                   provided
                                   one-of two-of three-of nine-of ten-of n-of])
                                (midje.sweet/facts
                                  ;; See Midje reference at top of file.
                                  [=> =contains=> =deny=> =expands-to=>
                                   =future=> =not=> =streams=> =test=>
                                   =throw-parse-exception=> =throws=> anything
                                   as-checker contains exactly falsey has
                                   has-prefix has-sufix irrelevant just
                                   roughly throws truthy
                                   every-checker some-checker
                                   provided
                                   one-of two-of three-of nine-of ten-of n-of])]}}}
